
<p>
  <strong>Nature:</strong>
  <%= @word.nature %>
</p>
 
<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>

<p>
  <strong>Exemple:</strong>
  <%= @word.exemple %>
</p>

<h2>Comments</h2>
<%= render @word.comments %>

<h2 style="color:blue">Add a comment:</h2>
<%= render 'comments/form' %>
 
<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
